main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px; /* Garante altura para centralizar verticalmente */
}

#section-login {
  /* O estilo do card já está sendo tratado pelo Bootstrap no HTML, 
     mas você pode reforçar o alinhamento aqui se precisar */
  display: flex;
  justify-content: center;
  align-items: center;
}