.example-spacer {
    flex: 1 1 auto;
}

img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-right: 15px;
}

a{
    text-decoration: none;
    color: white;
}

.links-menu {
    padding: 0 10px;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
}