<h2 class="text-center">Listar Produtos</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Produto</th>
      <th scope="col">Descrição</th>
      <th scope="col">Foto</th>
      <th scope="col">Preço</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produtos">
      <th scope="row">{{p.id}}</th>
      <td>{{p.produto}}</td>
      <td>{{p.descricao}}</td>
      <td><img [src]="'./assets/img/' + p.foto" alt="produto" style="width: 50px; height: 50px;"></td>
      <td>{{p.preco | currency: 'BRL'}}</td>
      
      <td>
        <a class="btn btn-primary" routerLink="/restrito/editar/{{p.id}}">Editar</a>
      </td>
      <td>
        <button class="btn btn-danger" (click)="excluir(p.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>